@model TravelPermit.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password Form</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@



<div class="app-content  my-3 my-md-5">
    <div class="side-app">

        <div class="page-header">
            <h4 class="page-title">Change Password</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Manage</a></li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
        </div>


        <section class="sptb">
            <div class="container customerpage">
                <div class="row">
                    <div class="single-page">
                        <div class="col-lg-6 col-xl-6 col-md-6 d-block mx-auto">
                            <div class="wrapper wrapper2">

                                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "card-body", role = "form", id = "Register", tabindex = "500" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h4>Change Password </h4>
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })

                                    <div class="passwd">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        @*<input type="text" name="name">*@
                                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                        @*<label>Name</label>*@
                                    </div>

                                    <div class="passwd">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @type = "password", @name = "password" })
                                        @*<input type="password" name="password">
                                            <label>Password</label>*@
                                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                    </div>
                                    <div class="passwd">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @name = "Confirm Password" })
                                        @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "control-label" })
                                        @*<input type="password" name="password">
                                            <label>Password</label>*@
                                    </div>
                                    <div class="submit">
                                        @*<input type="submit" value="Change password" class="btn btn-default" />*@
                                        <a> <input type="submit" class="btn btn-primary btn-block" value="Change password" />Change password</a>
                                        @*<a class="btn btn-primary btn-block" href="index.html">Register</a>*@
                                    </div>
                                    @*<p class="text-dark mb-0">Already have an account?<a href="/Account/Login" class="text-primary ml-1">Sign In</a></p>*@
                                }
                                @*</form>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>