@model TravelPermit.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}

@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


<!doctype html>
<html lang="en" dir="ltr">
<head>

    <style>

        body {
            background-image: url('/Assets/images/AdminLog4.jpg');
        }
    </style>


    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0f75ff">
    <meta name="theme-color" content="#2ddcd3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Title -->
    <title>Clinic Management System</title>

    <!-- Bootstrap Css -->
    <link href="~/Assets/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Dashboard Css -->
    <link href="~/Assets/css/dashboard.css" rel="stylesheet" />

    <!-- Font-awesome  Css -->
    <link href="~/Assets/css/icons.css" rel="stylesheet" />

    <!--Horizontal Menu-->
    <link href="~/Assets/plugins/Horizontal2/Horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet" />
    <link href="~/Assets/plugins/Horizontal2/Horizontal-menu/horizontal.css" rel="stylesheet" />
    <link href="~/Assets/plugins/Horizontal2/Horizontal-menu/color-skins/color.css" rel="stylesheet" />

    <!--Select2 Plugin -->
    <link href="~/Assets/plugins/select2/select2.min.css" rel="stylesheet" />

    

    <!-- Custom scroll bar css-->
    <link href="~/Assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- SWITCHER -->
    <link href="~/Assets/switcher/css/switcher.css" rel="stylesheet" id="switcher-css" type="text/css" media="all" />

    <!-- COLOR-SKINS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="~/Assets/webslidemenu/color-skins/color10.css" />

</head>
<body>




    <!--Register-section-->
    <section class="sptb">
        <div class="container customerpage">
            <div class="row">
                <div class="single-page">
                    <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                        <div class="wrapper wrapper2">
                            @*<form id="Register" class="card-body" tabindex="500">*@
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "card-body", role = "form", tabindex = "500", id = "Register" }))
                            {
                                @Html.AntiForgeryToken()
                                <h3>Reset your password.</h3>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Code)

                                <div class="name">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @*<input type="text" name="name">*@
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @*<label>Name</label>*@
                                </div>

                                <div class="passwd">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @name = "password" })
                                    @*<input type="password" name="password">
                                        <label>Password</label>*@
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                </div>
                                <div class="passwd">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @name = "Confirm Password" })
                                    @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "control-label" })
                                    @*<input type="password" name="password">
                                        <label>Password</label>*@
                                </div>
                                <div class="submit">
                                    <a> <input type="submit" value="Reset Password" class="btn btn-primary btn-block" />Reset</a>
                                    @*<a class="btn btn-primary btn-block" href="index.html">Register</a>*@
                                </div>


                            }
                            @*</form>*@
                            @*<hr class="divider">
                            <div class="card-body">
                                <div class="text-center">
                                    <div class="btn-group">
                                        <a href="https://www.facebook.com/" class="btn btn-icon mr-2 brround">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="https://www.google.com/gmail/" class="btn  mr-2 btn-icon brround">
                                            <span class="fa fa-google"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="https://twitter.com/" class="btn  btn-icon brround">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Register-section-->
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-rocket"></i></a>

    <!-- JQuery js-->
    <script src="~/Assets/js/vendors/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/Assets/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

    <!--JQuery Sparkline Js-->
    <script src="~/Assets/js/vendors/jquery.sparkline.min.js"></script>

    <!-- Circle Progress Js-->
    <script src="~/Assets/js/vendors/circle-progress.min.js"></script>

    <!-- Star Rating Js-->
    <script src="~/Assets/plugins/rating/jquery.rating-stars.js"></script>

    <!--Owl Carousel js -->
    <script src="~/Assets/plugins/owl-carousel/owl.carousel.js"></script>

    <!--Horizontal Menu-->
    <script src="~/Assets/plugins/Horizontal2/Horizontal-menu/horizontal.js"></script>

    <!--JQuery TouchSwipe js-->
    <script src="~/Assets/js/jquery.touchSwipe.min.js"></script>

    <!--Select2 js -->
    <script src="~/Assets/plugins/select2/select2.full.min.js"></script>
    <script src="~/Assets/js/select2.js"></script>


    <!-- Custom scroll bar Js-->
    <script src="~/Assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- sticky Js-->
    <script src="~/Assets//js/sticky.js"></script>

    <!-- Swipe Js-->
    <script src="~/Assets/js/swipe.js"></script>

    <!-- Scripts Js-->
    <script src="~/Assets/js/scripts2.js"></script>

    <!-- Custom Js-->
    <script src="~/Assets/js/custom.js"></script>
</body>
</html>
